body {
    color: #ffffff;
    background-image: url("background.jpg");
    background-position: top;
    background-size: cover;
    font-family: 'Itim', cursive;
}

img {
    margin-top: 50px;
    margin-bottom: 10px;
    width: 92%;
    height: auto;
    position: relative;
    left: 4%;
}